<section id="testimonial-slider" class="testimonials-section gap primary-bg">
	<div class="container">
		<div fxLayout='column' class="text-center mb-5 white-color">
			<div fxFlex.gt-md="60%">
				<h2 class="title-page">Consulting Process</h2>
				<p class="lead w-60">Here is an overview of the process.</p>
			</div>
		</div>
		<div fxLayout="row" fxLayoutWrap="wrap row" fxLayoutAlign="center center">
			<div fxFlex.xs="200" fxFlex.sm="200" fxFlex.md="140" fxFlex.lg="120" fxFlex.xl="200">
					<mat-card class="p-0">
						<mat-card-content class="text-center">
							<mat-horizontal-stepper #stepper>
							  <mat-step [stepControl]="formGroup">
							      <ng-template matStepLabel>Situational Analysis</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>First Step: Situational Analysis</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
									    <p>
										  First we need to gather your background information and based those information, we'll provide a roadmap on for our job-hunting journey.
									    </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-1.jpg">
									</mat-card>
							      <br>
							      <div style="float:right;">
							        <button mat-button matStepperNext>Next<i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							   <mat-step [stepControl]="formGroup">
							      <ng-template matStepLabel>Group Review</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>Second Step：Group Review</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  Our committee group will review your case and discuss for a viable plan.
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-2.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Previous</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>Next <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							   <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>Hunting Execution</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>Third Step: Hunting Execution</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  After we settle our plan, we will start to execute it. We will be constantly reviewing the procedure to update our plan and strategy.
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-3.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Previous</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>Next <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>Interview Preparation</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>Fourth Step: Interview Preparation</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  We will start preparing interview before you have one, which includes profile update, interview tips, mock interview and etc.
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-4.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Previous</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>Next <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>Post-Inteview</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>Fifth Step：Post-Interview</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  We will discuss the good and bad after each interview and what we can improve on the next one.
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-5.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Previous</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>Next<i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>Accepting Offer</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>Sixth Step: Accepting Offer</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  We will discuss strategies on offer picking and offer negotiation.
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-6.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>Previous</button>
							      </div>
							      
							  </mat-step>
							</mat-horizontal-stepper>

						</mat-card-content>
					</mat-card>
			</div>
		</div>
	</div>
</section>
