<section id="intro-one-section" class="home-intro-section primary-bg" style="max-height: 140px">
    <div class="container" fxLayout="row wrap">
        <!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">-->
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <!--style="background-image:url(assets/images/Boston-1.jpg);-->
            <!--background-blend-mode: lighten;-->
            <!--background-repeat: no-repeat, repeat;"-->

            <h4 class="home-intro-title">
                <div class="text-center">Job Hunting Mentorship</div>
            </h4>
            <div class="home-intro-desc">
                <div style="text-align: center">
                    We help new graduates to find their first job.
                </div>
            </div>
            <!--<div fxLayout="row" fxLayout.lt-sm="column">-->
            <!--<button mat-raised-button mat-lg-button id="frontend-btn" scrollTo="feature-section"><mat-icon>get_app</mat-icon>更多信息</button>-->
            <!--</div>-->
            <!--<div class="home-intro-desc" >-->
            <!--我们是一家专为中国客户提供跨境医疗和健康管理的咨询服务公司。<br>总部位于美国波士顿，依托波士顿本地的优质医院资源和尖端医药技术，为您提供最顶级的医疗服务。-->
            <!--</div>-->
        </div>

        <!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" >-->
        <!--<div class="intro-product">-->
        <!--&lt;!&ndash;<img mat-card-image src="assets/images/Boston-1.jpg" [style.margin]="'0 0 50px 100px !important'">&ndash;&gt;-->
        <!--<img mat-card-image src="assets/images/Boston-1.jpg" [style.margin]="'0 0 0 0 !important'">-->
        <!--</div>-->
        <!--</div>-->

        <!--width: 400px;-->
        <!--height: 400px;-->
        <!--background-repeat: no-repeat, repeat;-->
        <!--background-image: url("img_tree.gif"), url("paper.gif");-->
        <!--background-blend-mode: lighten;-->

    </div>
</section>

<section id="feature-section" class="gap bg-grey tab-group">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Why Choosing Us?</h2>
                <p class="lead w-60">We have experienced the similar and we would like to help you to avoid the dead-end
                    path. </p>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Bonded Relationship">
                <div class="img-cap">
                    <img src="assets/images/advantage-1.jpg" alt="">
                </div>
            </mat-tab>
            <mat-tab label="Experience">
                <div class="img-cap">
                    <img src="assets/images/advantage-2.jpg" alt="">
                </div>
            </mat-tab>
            <mat-tab label="Network">
                <div class="img-cap">
                    <img src="assets/images/advantage-3.jpg" alt="">
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
<section id="method-section"  class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">How we do it?</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="text-center featured-section">
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">group</i>
                <h4 class="mb-2">One-On-One Mentoring</h4>
                <p>Our professional mentor will work with you individually.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
                    account_box
                </i>
                <h4 class="mb-2">Professional Advice</h4>
                <p>We provide effective job-hunting advices for you, especially those who just come out of school.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
                    directions_run
                </i>
                <h4 class="mb-2">Progress Tracking</h4>
                <p>We track the real-time progress.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
                    thumb_up
                </i>
                <h4 class="mb-2">Goal Oriented</h4>
                <p>No need to pay before you get your job offer.</p>
            </div>
        </div>
    </div>
</section>